.auth-input {
  height: 44px;
  border-radius: 4px;
  border: 2px solid #f6f6f6;
  padding: 16px;
  max-width: 600px;
  outline: none;
}

.auth-btn {
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: #fff;
  max-width: 600px;
  font-weight: 500;

  &:hover {
    opacity: 0.4;
  }
}

.text-bl {
  width: 20%;
}

.nav-btn {
  color: #aa11ac;
  &:hover {
    opacity: 0.4;
  }
}

.third-party-btn {
  height: 44px;
  border: 2px solid #f6f6f6;
  border-radius: 4px;
  font-weight: 500;

  img {
    width: 20px;
  }

  &:hover {
    background-color: #f6f6f6;
  }
}
